* a:link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }

body { 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, lfr);  
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    grid-column: 1/6;
}

.navbar > div {
    border: 2px solid black;
    padding: 6px;
    
}

.coname {
    font-size: larger;
    text-align: center;
    color: white;
    background-color: darkslategray;
    border: 5px solid black;
    padding: 4px;
    grid-column: 1/6; 

}

.tagline {
    font-size: medium;
    font-style: italic;
    text-align: center;
    color: slategray;
    grid-column: 1/6;
}

.main {
    padding: 10px;
    margin-right: 5px;
    grid-column: 1/4;    
}


.sidebar {
    text-align: center;
    color: white;
    background-color: darkslategray;
    border: 5px solid black;
    padding: 4px;
    grid-column: 4/6; 
}

.sidebar > a {
    color: white;
}

.sidebar > a:visited {
    color: white;
}

.services {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

.srvclst {
    list-style-type: none;
}

@media (max-width: 500px) {

body { 
        font-family: Arial, Helvetica, sans-serif;
        margin: 3px;
}

.navbar {     
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.navbar > div {
    border: 3px solid black;
    padding: 5px;
    align-content: center;
    text-align: center;
    margin: 2px;
}

.main {
    grid-column: 1/6;
}

#motorpic {
    display: none;
}

.sidebar {
    border: 2px solid black;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    grid-column: 1/6;    
}

.sidebar > a {
    color: white;
}

.sidebar > a:visited {
    color: white;
}

}